<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="stylesheet" th:href="@{style/style.css}" href="../static/style/style.css">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <script th:src="@{js/bootstrap/bootstrap.js}" src="../static/js/bootstrap/bootstrap.js"></script>
    <script th:src="@{js/script.js}" src="../static/js/script.js"></script>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
          rel="stylesheet"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
</head>
<body id="body-pd">
<header class="header" id="header">
    <div class="header_toggle"><i class='bx bx-menu' id="header-toggle" style="color:#ffff;"></i></div>
    <img th:src="@{assets/Run With It-logos_transparent-cut.png}" src="../static/assets/Run With It-logos_transparent-cut.png"
         id="logo"
         alt="Run With It">
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div><a href="#" class="nav_logo">
            <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Menu</span> </a>
            <div class="nav_list">
                <a href="welcome" class="nav_link">
                    <img th:src="@{assets/home_white_24dp.svg}" src="../static/assets/home_white_24dp.svg">
                    <span class="nav_name">Home</span> </a>
                <a href="#" class="nav_link active">
                    <img th:src="@{assets/run_circle_white_24dp.svg}" src="../static/assets/run_circle_white_24dp.svg">
                    <span class="nav_name">Workouts</span> </a>
                <a href="goals" class="nav_link">
                    <img th:src="@{assets/checklist_rtl_white_24dp.svg}"
                         src="../static/assets/checklist_rtl_white_24dp.svg">
                    <span class="nav_name">Goals</span> </a>
                <a href="profile" class="nav_link">
                    <img th:src="@{assets/user-circle.svg}"
                         src="../static/assets/user-circle.svg">
                    <span class="nav_name">Profile</span> </a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="admin" class="nav_link">
                    <img th:src="@{assets/admin_panel_settings_white_24dp.svg}"
                         src="../static/assets/admin_panel_settings_white_24dp.svg">
                    <span class="nav_name">Admin Setting</span> </a>
            </div>
        </div>
        <a href="#" class="nav_link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
            <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Sign Out</span> </a>
    </nav>
</div>
<!--Container Main start-->
<div class="height-100 bg-light" style="background-color: transparent !important; margin-top:8%">
    <div>
        <span sec:authentication="principal.username">com.optum.runwithitapp.Security.User</span>
    </div>
    <!--    Main Components-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Workouts
    </button>
    <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Workout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/createWorkouts/{email}(email=${username})}" th:object="${workouts}" method="POST">
                        <div class="col-lg-3 col-sm-6">
                            <label for="startDate">Date</label>
                            <input field="*{workoutDate}" name="workoutDate" id="startDate" class="form-control" type="date"/>
                            <span id="startDateSelected"></span>
                        </div>
                        <div class="form-floating">
                            <input field="*{exerciseName}" name="exerciseName" type="text" class="form-control"
                                   id="floatingInput10" placeholder="Exercise Name">
                            <label for="floatingInput10">Exercise Name</label>
                        </div>
                        <div class="form-floating">
                            <select id="floatingType" class="form-select" aria-label="Default select example"
                                    field="*{exerciseType}" name="exerciseType" placeholder="Type">
                                <option value="Cardio">Cardio</option>
                                <option value="Weights">Weights</option>
                            </select>
                            <!--                                <input field="*{exerciseType}" name="exerciseType" type="text" class="form-control" id="floatingType" placeholder="Type">-->
                            <label for="floatingType">Type</label>
                        </div>
                        <div class="form-floating">
                            <input field="*{sets}" name="sets" type="number" class="form-control"
                                   id="floatingInput5" placeholder="Sets">
                            <label for="floatingInput5">Sets</label>
                        </div>
                        <div class="form-floating">
                            <input field="*{reps}" name="reps" type="number" class="form-control"
                                   id="floatingInput6" placeholder="Reps">
                            <label for="floatingInput6">Reps</label>
                        </div>
                        <div class="form-floating">
                            <input field="*{weightAmount}" name="weightAmount" type="number" class="form-control"
                                   id="floatingInput7" placeholder="Weight Amount (lbs.)">
                            <label for="floatingInput7">Weight Amount (lbs.)</label>
                        </div>

                        <div class="form-floating">
                            <input field="*{duration}" name="duration" type="time" class="form-control"
                                   id="floatingInput8" placeholder="Duration">
                            <label for="floatingInput8">Duration</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Workout Date</th>
            <th>Exercise Name</th>
            <th>Type</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight Amount</th>
            <th>Duration</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workouts : ${listWorkouts}">
            <td th:text="${workouts.workoutDate}"></td>
            <td th:text="${workouts.exerciseName}"></td>
            <td th:text="${workouts.exerciseType}"></td>
            <td th:text="${workouts.sets}"></td>
            <td th:text="${workouts.reps}"></td>
            <td th:text="${workouts.weightAmount}"></td>
            <td th:text="${workouts.duration}"></td>
            <td>
                <button type="button" class="btn btn-primary btn-lg btn-rounded"
                        data-bs-toggle="modal" data-bs-target="#editModal">
                    <img th:src="@{assets/edit_white_24dp.svg}" src="../static/assets/edit_white_24dp.svg">
                </button>
            </td>
                        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/updateWorkouts/{id}(id=${workouts.id})}" th:object="${workouts}"
                                              method="POST">
                                            <div class="col-lg-3 col-sm-6">
                                                <label for="startDate">Date</label>
                                                <input field="*{workoutDate}" name="workoutDate" id="startDate2" class="form-control" type="date"
                                                       th:value="${workouts.workoutDate}"/>
                                                <span id="startDateSelected2"></span>
                                            </div>
                                            <div class="form-floating">
                                                <input field="*{exerciseName}" name="exerciseName" type="text" class="form-control"
                                                       id="floatingInput101" placeholder="Exercise Name"
                                                       th:value="${workouts.exerciseName}">
                                                <label for="floatingInput101">Exercise Name</label>
                                            </div>
                                            <div class="form-floating">
                                                <select id="floatingType1" class="form-select" aria-label="Default select example"
                                                        field="*{exerciseType}" name="exerciseType" placeholder="Type"
                                                        th:value="${workouts.exerciseType}">
                                                    <option selected th:text="${workouts.exerciseType}"></option>
                                                    <option value="Cardio">Cardio</option>
                                                    <option value="Weights">Weights</option>
                                                </select>
                                                <label for="floatingType">Type</label>
                                            </div>
                                            <div class="form-floating">
                                                <input field="*{sets}" name="sets" type="number" class="form-control"
                                                       id="floatingInput51" placeholder="Sets"
                                                       th:value="${workouts.sets}">
                                                <label for="floatingInput51">Sets</label>
                                            </div>
                                            <div class="form-floating">
                                                <input field="*{reps}" name="reps" type="number" class="form-control"
                                                       id="floatingInput61" placeholder="Reps"
                                                       th:value="${workouts.reps}">
                                                <label for="floatingInput61">Reps</label>
                                            </div>
                                            <div class="form-floating">
                                                <input field="*{weightAmount}" name="weightAmount" type="number" class="form-control"
                                                       id="floatingInput71" placeholder="Weight Amount"
                                                       th:value="${workouts.weightAmount}">
                                                <label for="floatingInput71">Weight Amount</label>
                                            </div>

                                            <div class="form-floating">
                                                <input field="*{duration}" name="duration" type="time" class="form-control"
                                                       id="floatingInput81" placeholder="Duration"
                                                       th:value="${workouts.duration}">
                                                <label for="floatingInput81">Duration</label>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard
                                                    Changes
                                                </button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

            <td>
                <a th:href="@{/deleteWorkouts/{id}(id=${workouts.id})}" class="btn btn-danger btn-lg btn-rounded">
                    <img th:src="@{assets/delete_outline_white_24dp.svg}"
                         src="../static/assets/delete_outline_white_24dp.svg">
                </a>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>